@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonte/Inter-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-regular';
    src: url('/fonte/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'InterBold';
    src: url('/fonte/Inter-Bold.ttf') format('truetype');
}

#h1 > h1 {
    font-family: 'Inter';
}

h1 , h3, h4 {
    font-family: 'InterBold';
}

p, a {
    font-family: 'Inter-regular';
}

.imagen h3 {
    font-size: 15px;
}


